{% extends "base.html" %}
{% load static %}

{% block page_title %} Histórico de permissionamentos automáticos {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Data de cadastro</th>
                    <th>Login do SIGAA</th>
                    <th>Permissão no DSpace</th>
                </tr>
            </thead>
            <tbody>
                {% for autopermission in object_list %}
                <tr>
                    <td>{{autopermission.created_at}}</td>
                    <td>{{autopermission.netid}}</td>
                    <td>{{autopermission.created|yesno:"Sim,Não"}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">Nenhum registro encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if is_paginated %}
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                            Anterior
                        </a>
                    </li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li>
                            <a class="page-link" href="?page={{ i }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                                {{ i }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                            Próxima
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>    
</div>
{% endblock %}