{% extends "base.html" %}

{% load widget_tweaks %}
{% load static %}

{% block page_title %} Busca por artigos Scylax {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form action="{% url 'scylax:search' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-10">
                    <label>{{form.department.label}}</label>
                    {% render_field form.department class="form-control" %}
                    {% for error in form.department.errors %}
                        <small id="emailHelp" class="form-text text-danger">{{error}}</small>
                    {% endfor %}
                </div>
                <div class="form-group col-2">
                    <label>{{form.year.label}}</label>
                    {% render_field form.year class="form-control" %}
                    {% for error in form.year.errors %}
                        <small id="emailHelp" class="form-text text-danger">{{error}}</small>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="exampleInputEmail1">{{form.title.label}}</label>
                    {% render_field form.title class="form-control" %}
                    {% for error in form.title.errors %}
                        <small id="emailHelp" class="form-text text-danger">{{error}}</small>
                    {% endfor %}
                </div>
                <div class="form-group col-6">
                    <label for="exampleInputEmail1">{{form.author.label}}</label>
                    {% render_field form.author class="form-control" %}
                    {% for error in form.author.errors %}
                        <small id="emailHelp" class="form-text text-danger">{{error}}</small>
                    {% endfor %}
                </div>
                <div class="form-group col-12 pl-0">
                    <div class="form-check">
                        {{ form.include_exported }}
                        <label class="form-check-label" for="{{form.include_exported.auto_id}}">
                          {{form.include_exported.label}}
                        </label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-block btn-outline-primary">Buscar</button>
        </form>

        {% if show_results %}
        <h3 class="mt-4">Resultado da busca</h3>
        <span class="text-muted">{{articles.count}} artigos encontrados</span>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Ano</th>
                    <th scope="col">Autores</th>
                    <th scope="col">Departamentos</th>
                    <th scope="col">Exportado</th>
                    <th>
                        <input type="checkbox" id="select-all">
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr>
                    <td>
                        {{article.title}} 
                        <a href="javascript:;">
                            <i 
                                class="fas fa-info-circle" 
                                data-toggle="modal" 
                                data-target="#itemModal" 
                                data-articleid="{{article.id}}"
                            ></i>
                        </a>
                    </td>
                    <td>{{article.year.year}}</td>
                    <td>{{article.authors.count}}</td>
                    <td>{{article.department_count}}</td>
                    <td>{{article.exported|yesno:"Sim,Não"}}</td>
                    <td>
                        <input type="checkbox" class="export-article" value="{{article.id}}">
                    </td>
                </tr>
                {% empty %}
                <tr><td colspan="4">Nenhum resultado encontrado</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col-6 mb-5">
                <button type="button" class="btn btn-block btn-primary" onclick="exportArticles(false)">Apenas exportar artigos</button>
            </div>
            <div class="col-6 mb-5">
                <button type="button" class="btn btn-block btn-primary" onclick="exportArticles(true)">Exportar artigos e marcar como exportados</button>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="modal fade" id="itemModal" tabindex="-1" aria-labelledby="detalhes-item" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="item-modal-title">Detalhes do artigo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="alert alert-danger d-none" id="modal-alert" role="alert"> 
            Ocorreu um erro na obtenção dos dados. Tente novamente em alguns instantes.
          </div>
          <table class="table">
                <tr>
                    <td class="font-weight-bold">Título</td>
                    <td id="article-title"></td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Ano</td>
                    <td id="article-year"></td>
                </tr>
                <tr>
                    <td class="font-weight-bold">ISSN</td>
                    <td id="article-issn"></td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Total de autores</td>
                    <td id="article-authors-count"></td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Autores</td>
                    <td id="article-authors"></td>
                </tr>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    let selectedArtciles = []
    let fileName = 'ScylaxExport.zip'

    const exportCheckboxes = document.querySelectorAll(".export-article")

    exportCheckboxes.forEach(function(checkbox) {
        checkbox.addEventListener("change", function(e) {
            if (e.target.checked){
                selectedArtciles.push(e.target.value)
            } else {
                selectedArtciles = selectedArtciles.filter(i => i !== e.target.value)
            }
        });
    })

    document.getElementById("select-all").addEventListener("change", function(e) {
        const exportCheckboxes = document.querySelectorAll(".export-article")

        exportCheckboxes.forEach(function (checkbox) {
            checkbox.checked = e.target.checked
            const changeEvent = new Event('change', {
                bubbles: true,
                cancelable: true
            });

            checkbox.dispatchEvent(changeEvent);
        })
    })


    const exportArticles = markExported => {
        if (selectedArtciles.length == 0){
            alert('Selecione pelo menos um artigo para exportação')
            return
        }

        postData(markExported)
    }

    async function postData(markExported = false) {
        data = {
            article_pks: selectedArtciles,
            mark_exported: markExported,
        }

        const url = '{% url "scylax:export" %}'
        const response = await fetch(url, {
            method: "POST",
            redirect: "follow",
            headers: {
                'X-CSRFToken': "{{csrf_token}}",
            },
            body: JSON.stringify(data),
        })
        .then(response => {
            if (response.status === 400) {
                return response.text().then(errorMessage => {
                    alert("Houve um problema ao baixar o arquivo zip")
                })
            } else {
                const contentDisposition = response.headers.get('Content-Disposition')
                if (contentDisposition) {
                    const match = contentDisposition.match(/filename="(.+)"/)
                    if (match) {
                        fileName = match[1]
                    }
                }
                return response.blob()
                .then(blob => {
                    const blobUrl = URL.createObjectURL(blob)
                    const a = document.createElement('a')
                    a.style.display = 'none'
                    a.href = blobUrl
                    a.download = fileName

                    document.body.appendChild(a)
                    a.click()
                    
                    document.body.removeChild(a)
                    URL.revokeObjectURL(blobUrl)
                })
                .catch(error => {
                    console.error('Ocorreu um erro:', error);
                })
            }
        })
    }

    $('#itemModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var articleId = button.data('articleid')
        var modal = $(this)
        var baseArticleUrl = "{% url 'scylax:article_api' 00000000-0000-0000-0000-000000000000 %}"

        modal.find('#article-title').text('')
        modal.find('#article-year').text('')
        modal.find('#article-issn').text('')
        modal.find('#article-authors-count').text('')
        modal.find('#modal-alert').addClass('d-none')
        document.getElementById('article-authors').innerHTML = ''

        fetch(baseArticleUrl.replace('00000000-0000-0000-0000-000000000000', articleId)).then(response => {
            if (response.status >= 400) {
                modal.find('#modal-alert').removeClass('d-none')
            }
            return response.json()
        }).then(data => {
            modal.find('#article-title').text(data.title)
            modal.find('#article-year').text(data.year)
            modal.find('#article-issn').text(data.issn)
            modal.find('#article-authors-count').text(data.total_authors)

            data.authors.forEach(function(author) {
                var paragraph = document.createElement("p")
                const departments = author.departments.join(', ')
                if (departments) {
                    paragraph.textContent = `${author.name} (${departments})`
                    paragraph.classList = 'font-weight-bold'
                } else {
                    paragraph.textContent = `${author.name}`
                }

                if (author.id_lattes) {
                    let lattes_icon = document.createElement("i")
                    lattes_icon.className = "fas fa-user ml-2"
                    
                    let lattes_link = document.createElement("a")
                    lattes_link.href = `http://lattes.cnpq.br/${author.id_lattes}`
                    lattes_link.target = '_blank'
                    lattes_link.appendChild(lattes_icon)
                    paragraph.appendChild(lattes_link)
                }

                document.getElementById('article-authors').appendChild(paragraph)
            })
        }).catch(error => {
            console.log(error)
            modal.find('#modal-alert').removeClass('d-none')
        })

    })
</script>
{% endblock %}