{% extends "base.html" %}

{% load static %}
{% load filters %}
{% load widget_tweaks %}

{% block page_title %} Importar <small class="text-muted">DSpace Simple Archive Format</small> {% endblock %}

{% block content %}
<div class="row">    
    <div class="col-md-12">
        <form method="POST" enctype='multipart/form-data' id="import_form">
            {% csrf_token %}
            {{form.non_field_errors}}
            <div class="card">
                <div class="card-body">
                    <div class="form-group">     
                        <label for="exampleInputEmail1">{{form.collection.label}}</label>
                        {% render_field form.collection class="form-control" %}
                        {% for error in form.collection.errors %}
                            <small id="emailHelp" class="form-text text-danger">{{error}}</small>
                        {% endfor %}
                    </div>

                    <div class="form-group">     
                        <label for="exampleInputEmail1">{{form.dspace_simple_archive.label}}</label>           
                        {% render_field form.dspace_simple_archive class="form-control-file" %}
                        {% for error in form.dspace_simple_archive.errors %}
                            <small id="emailHelp" class="form-text text-danger">{{error}}</small>
                        {% endfor %}
                    </div>
                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" id="submit_import">Importar</button>
                        <button type="submit" class="btn btn-primary" id="wait_import" disabled style="display: none;"><i class="fas fa-spinner fa-spin"></i> Por favor aguarde</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% if import_output %}
<div class="row mt-3 mb-3">
    <div class="col-md-12">        
        <div class="card">
            <div class="card-header">
                <b>Resultado da importação</b>
            </div>
            <div class="card-body">
                <h4 class="text-primary"><i class="far fa-play-circle"></i> Início da operação</h4>
                {% for line in import_output %}
                    {{ line|format_output|safe }}<br>
                {% endfor %}
                <h4 class="text-primary"><i class="far fa-check-circle"></i> Fim da operação</h4>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'vendor/select2/js/select2.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#id_collection').select2();

            $('#import_form').submit(function(){
                $('#submit_import').hide();
                $('#wait_import').show();
            });
        });
    </script>
{% endblock %}