{% extends "base.html" %}

{% load static %}
{% load filters %}

{% block page_title %} Destalhamento de operação {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header">
                <b>Operação:</b> {{object.pk}} <br>
                <b>Coleção:</b> {{object.collection}} <br>
                <b>Por:</b> {{object.user}}  em {{object.created_at}}<br>
            </div>
            <div class="card-body">
                <h4 class="text-primary"><i class="far fa-play-circle"></i> Início da operação</h4>
                {% for line in log_content %}
                    {{ line|format_output|safe }}<br>
                {% endfor %}
                <h4 class="text-primary"><i class="far fa-check-circle"></i> Fim da operação</h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}