{% extends "base.html" %}
{% load static %}

{% block page_title %} Histórico de importações {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Código da operação</th>
                    <th>Data</th>
                    <th>Coleção</th>
                    <th>Handle</th>
                    <th>Usuário</th>               
                </tr>
            </thead>
            <tbody>
                {% for import in object_list %}
                <tr>
                    <td><a href="{% url 'import:log' import.id %}">{{import.id}}</a></td>
                    <td>{{import.created_at}}</td>
                    <td>{{import.collection.name}}</td>
                    <td>{{import.collection.handle}}</td>
                    <td>{{import.user}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">Nenhuma importação encontrada</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if is_paginated %}
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>    
</div>
{% endblock %}